*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blueviolet;
}
.title{
    padding: 20px;
    background-color: rgb(103, 39, 163);
    color: whitesmoke;
    border-radius: 20px;
}

.bmi-calculator{
    background-color: rgb(192, 158, 224);
    width: 350px;
    height: auto;
    border-radius: 20px;

}

.input-field form{
    display: grid;
    margin-top: 20px;
}

.input-field form input,button{
    margin: 10px 40px;
    padding: 10px;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 90px;
}

.result{
    display: flex;
    border: solid 1px black;
    margin: 10px 40px;
    margin-bottom: 20px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.clear{
    background-color: rgb(198, 56, 56);
    color: whitesmoke;
    border-radius: 10px;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



